.btn {
  color: var(--button-main-color);
  border: 2px solid var(--button-main-color);
  background-color: var(--button-bg-color);
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: var(--button-main-color);
}